.error-page{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
    & h1{
        font-size:90px;
    }

    & h2{
        font-size:30px;
    }
}
