html {
  --dark-blue: #223c50;
  --dark-blue-shadow: #00000017;
  --light-blue: #39719c17;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  color: #414141;
  background: none;
}

a,
button {
  cursor: pointer;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle, #ffff 11%, #ffecdcff 100%);
}

#app div.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.hidden {
  display: none !important;
}
