.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:40px 40px 50px;
    border-radius: 10px;
    max-width:660px;
    width:100%;
    background: #fff;
    box-shadow: 0px 11px 70px 11px rgba(34, 60, 80, 0.2);
    &-hidden{
        visibility: hidden;
    }

    &-avatar-upload{
        display: block;
        margin:0 auto;
        width:100px;
        height: 100px;
        border: 2px solid var(--darkBlue);
        border-radius:50%;
        overflow: hidden;
        cursor: pointer;
        position: relative;

        & img{
            object-fit: cover;
            width:100%;
        }
        &:after{
            content: '';
            display: block;
            position: absolute;
            left:0;
            bottom:0;
            height: 40%;
            width:100%;
            background:center center url(/pencil.svg) no-repeat,rgba(0,0,0,0.2);
            opacity: 0;
            transition: 0.3s opacity;
        }
        &:hover:after{
            opacity: 1;
        }
    }
    &-title{
        text-align: center;
        margin-bottom: 30px;
    }
    &-input-wrap{
        position: relative;
        & .form-label{
            transition: 0.3s top;
            position: absolute;
            left:10px;
            top:0;
            
        }
    }
    &-input{
        padding:0 8px;
        margin-top:20px;
        width:100%;
        height: 32px;
        line-height: 32px;
        font-size:16px;
        border-bottom: 1px solid #000;
        margin-bottom: 20px;
        opacity: 0.8;
        transition:0.2s all;
        color:#585858;
        &:disabled{
            text-align: right;
            opacity: 0.5;
        }
        &:disabled + .form-label{
            top:27px;
        }
        &:hover{
            opacity: 1;
        }
        &_profile {
            text-align: right;
            opacity:0.9;
        }
    }
    &-button{
        height: 45px;
        border-radius:10px;
        font-size:18px;
        color:#fff;
        background: var(--darkBlue);
        box-shadow: 0px 5px 10px 2px var(--darkBlueShadow);
        margin-top:20px;
    }
    &-link{
        margin-top:10px;
        font-size:18px;
        line-height: 26px;
        color:#000;
        text-align: center;
        text-decoration: underline;
        opacity: 0.7;
    }
}