<div class="chat-listitem">
    <div class="chat-listitem__image">
        {{#each image}}
            <img src="{{this}}" alt="">
        {{/each}}
    </div>
    <div class="chat-listitem__name">
        {{#if name}}
            <span>{{name}}</span>
        {{else}}
            {{#each users}}
                <span>{{this}}</span>&nbsp;
            {{/each}}
        {{/if}}
    </div>
    <button class="chat-listitem__button_delete">
        <img src="/x-close-delete.svg" alt="">
    </button>
</div>
