<div class="message {{#if status}}my-message{{/if}}">
    {{#if avatar}}
    <div class="message-avatar">
        <img src="{{avatar}}" alt="">
    </div>
    {{/if}}
    <div class="message-content">
        <div class="message-content__user-name">{{user}}</div>
        <p>{{content}}</p>
        {{#if imgs}}
            {{#each imgs}}
                <img src="{{this}}" alt="">
            {{/each}}
        {{/if}}
        <span class="message-content__time">11:00</span>
    </div>
</div>
